@tailwind base;
@tailwind components;
@tailwind utilities;

.fuente {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

/*? style de las Product card*/

.flexbox-container{
    display: flex;
    flex-direction: row;
}

body{
    color: black;
}
/*? fin de style de product card*/