@tailwind base;
@tailwind components;
@tailwind utilities;

.fuente {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

/* styles.css */
.sweet-alert-container {
    z-index: 9999 !important;
  }
  